body {
  background-color: rgb(240, 130, 105);
  color: white;
  padding: 5px;
  text-align: center;
}

p {
  font-family: "Arial Narrow", Arial, sans-serif;
  letter-spacing: 20px;
}
header{
  position: relative;
  background-color: brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

