:root {
  --primary-bg-color: #f2fdfb;
  --text-color: #161817;
  --main-bg-color: #15291D;
  --main-text-color: #bbbbbb;
  --main-btn-bg-color: #4c8161;
  --head-bg-colour: #2c553c;
}



body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  padding-top: 50;
  width: 100%;
  height: 15%;

  text-align: center;
  font-family:serif;
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 60px;
  justify-content: baseline;
  
  border-bottom: dashed;

  background-image: url(logo.png);
  background-position: 40% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}


/* Navigation styling */
nav {
  padding: 17px;
  text-align: center;
  width: 100%;
  background-color: var( --head-bg-colour);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 40px;
}

/* helps enfore that these are button to the user */
nav a:hover {
 color: rgb(179, 247, 195);
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
}

h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.vid {
  max-width: 100%;
  min-width: 100%;
  border: solid 3px var(--head-bg-colour);
}
/* Class for the video when it becomes full screen */
#bodyf { 
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: #0f1f14;
}

.fulVid {
  position: fixed;
  bottom: 2%;
  left: 8%;
  height: 95%;
  display: flex;
  border: solid 3px var(--head-bg-colour);
}



/* Class for moveing the fullscreen and play buttons in fullscreen mode */
.ful {
  position: fixed;
  top: 92%;
  right: 92%;
  background-color: var(#9389894f);
}
.ppful {
  position: fixed;
  top: 92%;
  right: 95%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
  display: block;
  /* Ensures the progress bar is not unline with the buttons */
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}
.custom-controls button:hover{
  background-color: rgb(52, 124, 94);
  border: solid 1px var(--main-bg-color);
}

.progress-bar {
  width: 100%;
  height: 15px;
  background-color: #c7ddd0;
  margin-top: 10px;
  overflow: hidden;
  display: block;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

.extraInfo {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* Displaying in a grid to allow be able to see the matirals and methord at the same time
  And helps keep as much of the video visabule when navigaitng via timestamps */
}

.extraInfo menu {
  list-style: circle;
  cursor: default;
}
.matMen {
  font-style: italic;
  font-size: larger;
}

.time {
  font-weight: bold;
  font-style: italic;
  padding: 1px;
  border-bottom: solid;
  color: #153822;
}
.time:hover {
  background-color: var(--main-bg-color);
  color: #f4f4f4;
  cursor: pointer;
}

h3 {
  font-weight: bold;
  font-size: x-large;
  margin: 5px;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 20px 15px 5px 30px;
  width: 100%;
}
footer a {
  color: #8832cf;
}
