#grid{ /*Lays out the main content in a grid, but not the header */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    position: relative
}
/* Graident background to mimic the colour pallet of Endless summer. To make it look The sunrises you see when oepning the website  */
body{
    background: rgb(246,240,200);
    background: linear-gradient(180deg, rgba(246,240,200,1) 0%, rgba(208,133,177,1) 37%, rgba(170,71,136,1) 70%, rgb(21, 9, 89) 100%);
}

main{
    position: relative;
}


.topics{
   padding: 5px;
    margin-bottom: 40px;

    border-radius: 20px;
    border: ridge rgb(9, 75, 66) 2px;
    background-color: #17b8e95d;

    font-family: "Kode Mono", monospace;
}

p{
    position: relative;
    
    border:none;
    padding: 8px;   
}

/* Header titles and design */
header{
    /* Keeps the header at top of sceen at all times. */
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 25%;
    z-index: 100;

   text-align: left;
   font-family: "Ysabeau Office", sans-serif;
   letter-spacing: 2px;
   
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 60%, rgba(255, 255, 255, 0) 100%);
   border-bottom: solid #12532a 2px;
   border-image: linear-gradient(to right, #0c4421 0%, #1a8f5e 60%, rgba(255, 255, 255, 0) 100%) 1;
   
   padding: 10px;
   padding-bottom: 10px;
   margin-bottom: 0px;
}
h1{
    font-size: 250%;
    font-weight: 500;
    padding: 4px;
}
h2{
    font-size: 200%;
    font-weight: 400;
    padding-left: 4;
}
h3{
    font-size: 170%;
    font-weight: 200;
    padding-left: 4;
}

/* Sub titles */
h4{
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
section{
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;
}

