#grid{ /*Lays out the main content in a grid, but not the header */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    position: relative
}
/* Graident background to mimic the colour pallet of Endless summer. To make it look The sunrises you see when oepning the website  */
body{
    background: rgb(246,240,200);
    background: linear-gradient(180deg, rgba(246,240,200,1) 0%, rgba(208,133,177,1) 37%, rgba(170,71,136,1) 70%, rgb(21, 9, 89) 100%);
}

main{
    position: relative;
}


.topics{
   padding: 5px;
    margin-bottom: 40px;

    border-radius: 20px;
    border: ridge rgb(9, 75, 66) 2px;
    background-color: #17b8e95d;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
   font-size: 115%;
    padding: 10px;   
}
/* Subtle change ensure the list is not right agaist the border and gives the viewermore space */
menu{
    padding-left: 20px;
}


/* Header titles and design */
header{
    /* Keeps the header at top of sceen at all times. */
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 25%;
    z-index: 100;

   text-align: left;
   font-family: "Ysabeau Office", sans-serif;
   letter-spacing: 2px;
   
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 60%, rgba(255, 255, 255, 0) 100%);
   border-bottom: solid #12532a 2px;
   border-image: linear-gradient(to right, #0c4421 0%, #1a8f5e 60%, rgba(255, 255, 255, 0) 100%) 1;
   
   padding: 10px;
   padding-bottom: 10px;
   margin-bottom: 0px;
}
h1{
    font-size: 250%;
    font-weight: 500;
    padding: 4px;
}
h2{
    position: relative;
    left: 15%;
    /* Indents the 2 sub-titles in the header to have the flow between them be better*/

    font-size: 200%;
    font-weight: 400;
    padding-left: 4px;
}
h3{
    position: relative;
    left: 25%;

    font-size: 170%;
    font-weight: 200;
    padding-left: 4px;
}

/* Sub titles */
h4{
    font-weight: bold;
    font-size: 120%;
    font-style: italic;
}
section{
    text-decoration: underline double 2px;
    font-size: xx-large;
    text-align: center;
    font-family: "Ysabeau Office", sans-serif;

    padding: 4px;
}
footer{
    height: 80px;
}
a{
    position: absolute;
    left: 33%;
    min-width: 35%;
    padding: 7px;
    
    border: solid 1px;
    border-radius: 20px;
    background: #21a15079;
    color: rgb(188, 139, 235);

    font-family: "Ysabeau Office", sans-serif;
    text-decoration: none;
    font-size:x-large;
    text-align: center;
    letter-spacing: 6px;
}
/* Changes the colours when hovered to communicat that this is a link */
a:hover{
    background: #394097;
    color: rgb(203, 162, 243);
}

/* Make images when hovered over get bigger and easier to see for user */
