*{
    text-align: center;
    font-size: 100%;
}
 #grid{ /*Lays out the nav and main content in a grid, but not the header   */
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 4px;
    position: relative
}

 .title{/* Class to ensure all the titles have a consistedn design */
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 105%;
}

header{
    position: relative;
    height: 20%;

   font-size: 130%;
   
   border: solid 1px;
   padding: 0px;
   padding-bottom: 25px;
   margin-bottom: 10px;
}

nav{
    border: solid 1px;
}
menu{
    position: sticky;
    position: -webkit-sticky;
    top: 5px;
    padding: 0px;
    margin-top: 50px;

    list-style-type:none;
}
#wlink{
    position: relative;
    
    margin: 10px;
    font-weight: bold;
   
}

li{
    margin-bottom: 8%;
}

li:hover {
    background-color: green;
    border: solid;

}

main{
    position: relative;
  
}
section{
    text-decoration: underline;
}
.topics{
    margin-top: 0px;
    margin-bottom: 40px;
    border: solid 1px;
}
p{
    border:none;
    padding: 8px;
    text-align: center;
}
