:root{
    --hover-colour: rgb(4, 61, 83);
}

body{
    background-color:#02000e;
    margin: 0;
}

#Gradient{
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(0.79deg, #3f4380 -34.32%, rgba(5, 0, 51, 0) 50.38%);
}
button{
    cursor: pointer;
} 
button:active {
    /* adds feedback when clicking on any button */
    box-shadow: 0 5px rgb(8, 44, 58);
  transform: translateY(4px);
}


#input{
position: absolute;
display: flex;
height: 20%;
bottom: 0%;
width: 100%;

justify-content: center;

}
#endings{
    font-family:  "Pixelify Sans", monospace;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    letter-spacing: 3px; 
    color: #57ffdb;

}

.option{
    position: relative;
    height: 60%;
    width: 20%;
    left: 7%;
    margin-right: 10%;
    padding: 15px;


    font-family:  "Pixelify Sans", monospace;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 3px; 
    color: #57ffdb;
        
    background-color: #1f2781;    
    border: inset 4px rgb(15, 79, 104); 
}

.option:hover{
    background-color: var(--hover-colour);    
    border: inset 4px rgb(14, 134, 182); 
    color: #57ffdb;
}


/* Stye for spart screen */
#start{
    position: fixed;
    width: 15%;
    height: 7%;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);

    text-align: center;
    font-family:  "Pixelify Sans", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 3px; 
    color: #57ffdb;
        
    background-color: #1f2781;    
    border: inset 4px rgb(15, 79, 104); 

}
#start:hover{
    background-color: var(--hover-colour);    
    border: inset 4px rgb(14, 134, 182); 
    color: #57ffdb;  
}
#startback{
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: #050a35;
}


/* style for the image and resonce text */
#responce{ 
    position: absolute;
    width: 60%;
    height: 65%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);

    
   background-color: #040114;
   padding: 10px;
   border: inset 4px rgb(15, 79, 104);
    
}  
#scene{
    position: relative;
    height: 75%;
    width: 100%;
    border: 7px solid #0c1142;

}
#backimage{
    position: relative;
    height: 100%;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
}
#activeimage{
    position: absolute;
    height: 30%;
    bottom: 35%;
    right: 40%;
    align-items: center;
}
#activeimage:hover{
    height: 32%;
}



#story{
    position:inherit;
    display: block;
    bottom: 0%;
    height: 25%;
    min-width: 100%;
    padding: 5px;

}
p, menu{      
    
    font-family:  "Pixelify Sans", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 115%;
    letter-spacing: 0.15em;
    color: #bad0fa;  
    overflow: auto; /* Adds a scroll bar if text overflows to help ajust to diffrent sized screens */

    list-style-type: circle;
    list-style-position: outside;
}

#resorcetxt{
    position: absolute;
    width: 0%;
    height: 60%;
    right: 0%;
    top: 10%;
    padding: 5px;
    display: none;

    background-color: rgb(63, 9, 9);
    border: inset rgb(179, 7, 7) 3px;
    border-right: none;
    border-radius: 8px;

    font-size: small;
} 
h3{
    font-size: x-large;
    font-style: italic;
}

#resourcebtn{
    position: fixed;
    right: 0%;
    height: 8%;
}
#resourcebtn:hover{
    transform: translate(10%, 0%);
    cursor: pointer;
}

/* Scroll bar for the attrabution pop out of the screen size is to small to see the full thing*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(20, 1, 1); 
    border-radius: 10px;
    
} ::-webkit-scrollbar-thumb {
    background: rgb(209,147,147);
    background: linear-gradient(90deg, rgba(209,147,147,1) 0%, rgba(134,42,42,1) 35%, rgba(32,2,2,1) 100%);
    border-radius: 10px;
}


